*{
    font-family: "roboto", sans-serif;
}

body{
    margin: 0;
}

.global{
    background-color: #1F2937;
    padding-bottom: 180px;

}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
    margin-bottom: 100px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.linkDir{
    margin-right: 25px;
}

#last{
    margin-right:0;
}


.d1{
    color:#F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

h1{
    margin: 0;
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

p{
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
}

figure{
    margin: 0;
}

img{
    width: auto;
    height: 150px;
}

button{
    background-color: #3882f6;
    color: white;
    border: 0px;
    border-radius: 8px;
    width: 100px;
    height: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: larger;
}

.awesome{
    display: flex;
    justify-content: center;
}

.awesome p{
    margin-bottom: 15px;
}

.title{
    padding-right: 30.2%;
}

.sub{
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    margin-left: 35px;
}

.box{
    display: flex;
    justify-content: center;
}

.random p{
    text-align: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.para{
    display: flex;
    justify-content: center;
}

.subtext{
    margin-top: 8px;
    margin-left: 35px;
    max-width: 155px;
    color: #1F2937;
    text-align: center;
    margin-bottom: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: #E5E7EB;
    padding: 100px 20px;
}

.quote p {
    font-style: italic;
    font-size: 36px;
    line-height: 1.5;
    color: #1F2937;
    max-width: 700px;
}

#thor {
    font-style: normal;
    font-weight: bold; 
    font-size: 20px;
    text-align: right; 
    margin-top: 10px;
    width: 100%;
    max-width: 700px;
}

footer{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #1F2937;
    color: white;
}