body{
    margin: 0;
    padding: 0;
    background-color: #306090;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 30px;
}

.global{
    display: flex;
}

.titre{
    display: flex;
    background-color: #ffd00f;
    color: white;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 0px 30px;
}

.img{
    margin-right: 300px;
}

.txt{
    margin-right: 300px;
    font-size: 50px;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
    padding-bottom: 1500px;
    padding-top: 15px;
    padding-left: 8px;
    width: 500px;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.redirect{
    color: white;
    padding-left: 8px;
    display: flex;
    list-style: none;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 25px;
}

.Tomate{
    background-color: white;
    border-radius: 25px;
    margin-bottom: 30px;
}

h2{
    padding-left: 15px;
    padding-top: 15px;
}

.ingre{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.prep{
    padding-left: 15px;
    padding-bottom: 5px;
}

.Omelette{
    background-color: white;
    border-radius: 25px;
    margin-bottom: 30px;
}

.Crepes{
    background-color: white;
    border-radius: 25px;
}
